version: '3.8'
services:
  db:
    image: postgres:18
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_DB: playground
      POSTGRES_USER: tester
      POSTGRES_PASSWORD: password
    ports:
      - 5432:5432
  adminer:
    image: adminer:4.8.1
    restart: always
    ports:
      - 8080:8080
